@model IEnumerable<AutoBiller.Models.Vehicle.VehicleListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleMake)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleMake)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.VehicleId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.VehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VehicleId })
        </td>
    </tr>
}

</table>
