@model AutoBiller.Models.ServiceEstimate.ServiceEstimateDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceEstimateDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicePartCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicePartCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLaborCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLaborCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceSubtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceSubtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceTotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
